.teamcolumn {
    float: left;
    margin-bottom: 16px;
    padding: 0 8px;
    width: 33.3%
}

.img-team {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 38%;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }

    .teamcolumn {
        width: 100%
    }

    .section-3{
        padding: 50% 10%;
    }

    .img-team{
        margin-left: 30%;
    }
}

.teamcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #000000;
    color: white;
    horiz-align: center;
    border-width: 0;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}