
.color-white {
    color: white!important;
    border-bottom: 2px solid white;
}

.text-white {
    font-weight: unset;
    color: white;
    /*text-shadow: rgb(204 246 108) 0px 0px 12px;*/
}

.space-center {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.barracks-deposit-input {
    background: white;
    font-weight: bolder;
    margin: 3%;
    text-align: right;
    border-radius: 8px;
    height: 40px;
    width: 95%;
    font-size: larger;
}

.barracks-deposit-button {
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color: black;
    border-radius: 16px;
    border: 2px solid white;
    height: 45px;
    width: 100%;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.5;
    justify-content: center;
}

.barracks-deposit-button:disabled {
    cursor: no-drop;
}

.barracks-indetails-type {
    text-align: initial!important;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.barracks-indetails-title {
    text-align: initial!important;
    font-size: 16px;
    color: rgb(92, 109, 120);
    line-height: 1.4em;
}
.barracks-indetails-value {
    text-align: initial!important;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 6px;
}


.barracks-frank-card {
    padding: 16px;
    border: 2px solid white!important;
    border-radius: 16px;
    flex-grow: 1;
    flex-basis: 0px;
    margin-bottom: 16px;
    margin-left: 12px;
    margin-right: 12px;
    max-height: 150px;
}

.barracks-con-info {
    border: 2px solid white!important;
    border-radius: 1em;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
    color: white;
}

.barrack-active-1 {
    box-shadow: white 0px 0px 20px!important;
}

.barrack-card {
    position: relative;
    display: block;
    padding: 0.75rem 0.2rem;
    background-color: black!important;
    border: 1px solid white!important;
    margin-bottom: 1.3em;
    border-radius: 1em;
}

.barrack-arrow-color {
    align-self: center;
    fill: white;
    flex-shrink: 0;
}

.barrack-td-width-35 {
    width: 35%;
}

.barrack-td-width-10 {
    width: 10%;
}

.barrack-td-width-20 {
    width: 20%;
}

.parent-div {
    text-align: center;
    position: relative;
    color: white;
    height: 100%;
    width: 100%;
}

.main-text {
    text-align: center;
    position: absolute;
    top: 10%;
    width: 50%;
    left: 25%;
}

.enter-password {
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 50%;
}

.password {
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 21%;
    margin-bottom: 3px;
}

.password-input {
    font-size: 30px;
    border: none;
    background: transparent;
    color: white;
    letter-spacing: 0.2em;
    outline-width: 0;
}

.text-size {
    font-size: 35px;
    display: inline;
}

.backgroundImageStyle {
    height: 100vh;
    /* width: 100% */
}

@media (max-width: 479px) {
    /* .parent-div {
        height: 100vh;
    } */

    .text-size {
        font-size: 20px;
    }

    .password-input {
        font-size: 18px;
    }

    .enter-password {
        bottom: 20%;
    }

    .password {
        right: 0;
        width: 49%;
        bottom: 20%;
    }

    .backgroundImageStyle {
        height: 100vh;
    }

    .main-text {
        text-align: center;
        position: absolute;
        top: 25%;
        width: 80%;
        left: 10%;
    }

}

